---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


/* customizations */
$background-color: #222c33 !default;
$primary-color: #094c68 !default;
$footer-background-color: $primary-color !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
