---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


/* customizations */

// old colour schema
// $background-color: #222c33 !default;
// $primary-color: #094c68 !default;
// $footer-background-color: $primary-color !default;


$background-color: #f4f4f4 !default;
$primary-color: #262e45 !default;
$footer-background-color: $primary-color !default;


// top bar bg color change and orange ribbon
.masthead {
    border-bottom: 12px solid #f15a2b !important;
    background-color: $primary-color !important;
}
#site-nav {
    background: $primary-color !important;
}
.greedy-nav a {
    color: #fff !important;
}

// orange ribbon for footer
// .page__footer {
//     border-top: 12px solid #f15a2b !important;
// }

// Modify main page html background colour.
// N.B. custom class needs to be assigned to the html level instead of the body
// level. This requires modifying "_layouts/default.html"
html.our-main-page {
    background-color: $primary-color !important;
}

// no orange top ribbon for main page
// .our-main-page .masthead {
//     border-bottom: 0px solid $primary-color !important;
// }

// main page margin for bohts sides of the picture
// .our-main-page .initial-content {
//     margin-top: 4em;
//     margin-bottom: 4em;
// }

// main page picture height
.our-main-page .page__hero--overlay {
    height: 20em;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
